.itemBox {
    border: 1px solid var(--gray-700);
    border-radius: 8px;

    max-width: 46rem;
    
    height: 3.375rem;
    display: grid;
   
    grid-template-columns: 39rem 1fr;

    gap: 0.5rem;
    align-items: center;
    
    background: var(--gray-500);
}

.itemBox button {
    width: 6.225rem;
}

.itemBox button[type=submit]:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

.itemBox button[type=submit]:disabled:hover{
   background: var(--blue-dark);
}

.itemBox textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: var(--gray-100);

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
    padding: 1rem;

    background: transparent;
    border: 0;
    resize: none;
}

.itemBox textarea:focus {
    border: 1px solid var(--purple);
    border-radius: 8px;

    opacity: 0.65;
}

.itemsAnalytics {
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-top: 4rem;
    
    font-weight: 600;
}

.itemsAnalytics p + p {
    color: var(--purple);
}

.itemsAnalytics span {
    color: var(--gray-100);
    font-size: 12px;


    border-radius: 4px;
    background-color: var(--gray-400);
    padding: 0.2rem;
}

