.wrapper {
    max-width: 46rem;
    height: 3.375rem;

    margin: -1.8rem auto;
    padding: 0;
    border-radius: 8px;

    background: transparent;

    display: grid;
    grid-template-columns: 39rem 1fr;
    gap: 1rem;
    align-items: center;

}

button {
    height: 100%;
    width: 100%;

    background: var(--blue-dark);
    border: 0;
    cursor: pointer;
    line-height: 0;
    border-radius: 8px;
}